/*body {*/
/*    font-family: Kalpurush, Nikhosh, Kalpurush_ANSI, sans-serif;*/
/*}*/

body {
    font-size: 10px;
}

.head1, .head2 {
    text-align: center;
}

/*.head3 {*/
/*    text-align: center;*/
/*}*/

.mgrless {
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

.mgrless td {
    margin: 0px;
    padding: 0px;
}

.head1 .head_title {
    font-size: 14px;
    font-weight: bold;
}

.head2 .head2_title, .head3_title {
    font-size: 12px;
    font-weight: bold;
}

.info-text {
    font-size: 12px;
}

.info-text .fw-bold {
    text-align: center;
    padding-left: 5px;
}

.info-text.spacing {
    text-align: center;
}

#table_content {
    margin-top: 15px;
}

#table_content .table th {
    border: 1px solid silver;
    text-align: center;
}

#table_content .table td {
    border: 1px solid silver;
    text-align: center;
}

.code_name {
    font-size: 12px;
    font-weight: bold;
}

.description {
    text-align: center;
    font-size: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    /*padding-top: 40px;*/
    /*padding-bottom: 40px;*/

}

/*#desc2 {*/
/*  margin-top: 80px;*/
/*  margin-bottom: 80x;*/
/*}*/

#oth {
    margin-top: 5px;
    margin-bottom: 5px;
}

.writeup table {
    margin-bottom: 5px;
}

#ddoCal table {
    margin-bottom: 2px;
}

.writeup tbody tr td:first-child {
    text-align: right;
    /*font-weight: bold;*/
}

.borderless td, .borderless th {
    border: none;
}

.conds {
    font-size: 11px;
    text-align: left;
}

.next_page {
    font-size: 10px;
    /*float: right;*/
    text-align: right;
}

#ddoTable {
    margin-left: 70px;
    margin-right: 70px;
}

#ddoTable table {
    margin-bottom: 2px;
}

#ddoTable tbody tr td {
    width: 50%;
}

#ddoCal {
    margin-left: 50px;
    margin-right: 50px;
}

#ag_office {
    margin-left: 50px;
    margin-right: 50px;
}

.seal td {
    height: 40px;
    padding-top: 40px;
}

.extra_cal {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
}

.extra_cal th {
    border: 1px solid black;
    text-align: center;
}

.extra_cal td {
    border: 1px solid black;
}

#seperator {
    height: 3px;
    background: black;
    opacity: .75;
}

#ag_office {
    margin-top: 2px;
    margin-bottom: 2px;
}

#ag_office .head3_title {
    text-align: center;
    font-weight: bold;
}

#ag_office p {
    /*padding-top: 10px;*/
}

#all_sign table tr td p {
    margin: 0px;
    padding: 0px;
}

#all_sign #sign_table tr td {
    width: 33.33%;
    /*text-align: center;*/
    padding-top: 15px;
    padding-bottom: 0px;
}

#all_sign #sign_table tr td p {
    margin-top: 0px;
    padding-top: 0px;
}

#blank_row {
    height: 30px;
}


.nb_text {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.nb_last_txt {
    font-size: 10px;
!important;
}

.container {
    border: 1px solid black;
}

#office_code table {
    margin: 0px;
}

#office_code tr {
    text-align: center;
}

#office_code th {
    border: 1px solid gray;
}

.ext_amount tr td {
    border: 1px solid gray;
}

#seperator {
    margin: 0px;
    padding: 0px;
}

.page-break {
    page-break-after: always;
}

.pg2 table tr td {
    margin: 0px;
    padding: 2px;
}

.amountTk {
    margin: 0px;
    padding: 0px;
}

.hide_div{
    padding-top: 20px;
}
